.photo-preview img {
  transition: transform 0.2s ease;
}

.photo-preview img:hover {
  transform: scale(1.05);
}

button {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #3f51b5;
  color: #3f51b5;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.upload-btn:hover {
  background-color: #3f51b5;
  color: white;
}

.selected-file-name {
  display: block;
  margin-top: 5px;
  font-size: 0.9rem;
  color: #555;
}

.rounded-btn {
  border-radius: 20px; /* boutons bien arrondis */
  padding: 8px 24px;
  font-weight: 500;
  text-transform: none; /* texte normal, pas en majuscule */
}
